/* Параметры статуса */
.status-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
/* Цвета статусов */
.status-online {background-color: #0069d9;}
.status-offline {background-color: rgb(156, 56, 56);}
/* Цвет строки */
.color-online {background-color: rgb(255, 255, 255);}
.color-offline {background-color: rgb(252, 237, 237);}