        #searchContainer {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px;
            margin-right: 50px;
        }
        #searchInput {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            flex-grow: 1;
        }


        #usersTable {
            table-layout: fixed;
        }

        #usersTable td {
            border: 1px solid #ddd;
            padding: 5px;
            text-align: center;
        }

        #usersTable th {
            
            background-color: #c0c0c0;
            text-align: center;
        }
