<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anomalous Traffic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/siem.css') }}">
</head>

<body>
    <div class="container">
        <h1>Anomalous Traffic</h1>
        <table>
            <thead>
                <tr>
                    <th>Event Type</th>
                    <th>Timestamp</th>
                    <th>Source IP</th>
                    <th>Username</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <!-- Здесь будет вывод информации об аномальном трафике, если есть -->
            </tbody>
        </table>
    </div>
</body>

</html>
