<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checkbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blocked_sites.css') }}">
    <title>Заблокированные сайты</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Заблокировать сайт</h2>
            </div>
            <div class="card-body">
                <form id="blockForm" method="post" action="/block_site">
                    <div class="form-group">
                        <label for="site_url">URL сайта:</label>
                        <input type="text" class="form-control" name="site_url" id="site_url" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Заблокировать сайт</button>
                </form>
            </div>
        </div>

        <h1>Заблокированные сайты</h1>

        <table>
            <thead>
                <tr>
                    <th>URL сайта</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody id="blockedSitesList">
                {% for site in blocked_sites %}
                <tr>
                    <td>{{ site[1] }}</td>
                    <td><a href="#" class="remove-link" data-id="{{ site[0] }}">Удалить</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Обработчик формы блокировки сайта
            $('#blockForm').on('submit', function (e) {
                e.preventDefault(); // Отключаем стандартное поведение формы
                var siteUrl = $('#site_url').val();

                $.ajax({
                    url: '/block_site',
                    method: 'POST',
                    data: { site_url: siteUrl },
                    success: function (response) {
                        // Очищаем поле ввода
                        $('#site_url').val('');

                        // Обновляем список заблокированных сайтов
                        $('#blockedSitesList').html(response);
                    },
                    error: function () {
                        alert('Ошибка при блокировке сайта');
                    }
                });
            });

            // Обработчик для удаления сайта
            $(document).on('click', '.remove-link', function (e) {
                e.preventDefault(); // Отключаем стандартный переход по ссылке
                var siteId = $(this).data('id');

                $.ajax({
                    url: '/remove_site/' + siteId,
                    method: 'GET',
                    success: function (response) {
                        // Обновляем список заблокированных сайтов
                        $('#blockedSitesList').html(response);
                    },
                    error: function () {
                        alert('Ошибка при удалении сайта');
                    }
                });
            });
        });
    </script>
</body>

</html>
