<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление доступом в Squid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <nav id="navBar" class="navbar navbar-expand container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/icon.png') }}" height="100" alt="icon">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link testB" href="{{ url_for('users') }}">Главная</a></li>
                <li class="nav-item"><a class="nav-link testB" href="#" data-url="/blocked-sites">Заблокированные сайты</a></li>
                <li class="nav-item"><a class="nav-link testB" href="{{ url_for('system_info') }}">Информация о системе</a></li>
                <li class="nav-item"><a class="nav-link testB" href="{{url_for('logs')}}">Логи</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div id="searchContainer" class="mb-3 d-flex justify-content-between align-items-center">
            <input type="text" id="searchInput" class="form-control" onkeyup="filterUsers()" placeholder="Поиск по имени пользователя или IP-адресу">
        </div>

        <div id="mainTable">
            <table id="usersTable" class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th id="thAli" class="px-5">Статус сети</th>
                        <th id="thAli">IP-адрес</th>
                        <th id="thAli">MAC-адрес</th>
                        <th id="thAli">Сетевое имя</th>
                        <th id="thAli" class="container">Последний раз в сети</th>
                        <th id="thAli">Имя пользователя</th>
                        <th id="thAli">Отдел</th>
                        <th id="thAli">Номер кабинета</th>
                        <th id="thAli">Доступ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td id="thAli">
                                <span class="status-circle {{ 'status-online' if user.is_online else 'status-offline' }}"></span>
                                {{"В" if user.is_online else "Не в"}} сети
                            </td>
                            <td id="thAli">{{ user.ip }}</td>
                            <td id="thAli">{{ user.mac }}</td>
                            <td id="thAli">{{ user.hostname }}</td>
                            <td id="thAli">{{ user.last_seen }}</td>
                            <td id="thAli" contenteditable="true" data-mac="{{ user.mac }}" onblur="saveChanges(this, '{{ user.mac }}', 'username')">{{ user.username }}</td>
                            <td id="thAli" contenteditable="true" data-mac="{{ user.mac }}" onblur="saveChanges(this, '{{ user.mac }}', 'department')">{{ user.department }}</td>
                            <td id="thAli" contenteditable="true" data-mac="{{ user.mac }}" onblur="saveChanges(this, '{{ user.mac }}', 'number_cabinet')">{{ user.number_cabinet }}</td>
                            <td id="thAli">
                                <button id="btnAccess" onclick="toggleAccess(this, '{{ user.mac }}')" class="btn btn-sm {{ 'btn-secondary' if user.access_allowed else 'btn-success' }}" data-status="{{ 'true' if user.access_allowed else 'false' }}">
                                    {{ "Закрыт" if user.access_allowed else "Открыт" }}
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer mt-auto">
        <div class="container text-center">
            <span class="text-footer">© 2024 Управление доступом в Squid. Все права защищены.</span>
            <span class="text-footer">Версия: {{ version }} | Авторы: Shootka, Lermontov</span>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
