<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логи приложения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body id="BodyLogs">
<!-- Панель навигации -->
    <nav id="navBar" class="navbar navbar-expand container-fluid mb-5">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link testB" href="{{ url_for('users') }}">Главная</a></li>
            <li class="nav-item"><a class="nav-link testB" href="#" data-url="/blocked-sites">Заблокированные сайты</a></li>
            <li class="nav-item"><a class="nav-link testB" href="{{ url_for('system_info') }}">Информация о системе</a></li>
            <li class="nav-item"><a class="nav-link testB" href="{{url_for('logs')}}">Логи</a></li>
            </ul>
        </div>
    </nav>
    <h1>ЛОГИ (для администрации)</h1>
<!-- Скрипт для консоли -->
    <script>
        function refreshLogs() {
            fetch('{{ url_for("logs") }}')
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newLogContent = doc.getElementById('log-container').innerText;
                    document.getElementById('log-container').innerText = newLogContent;
                })
                .catch(err => console.error('Ошибка при обновлении логов:', err));
        }

        setInterval(refreshLogs, 60000);
    </script>

<!-- Отображение консоли на сайте -->
    <div id="log-container">{{ log_content }}</div>

<!-- Кнопки -->
    <div id="exportContainer" class="container-fluid mb-3">
        <button id="btnRefresh" class="btn btn-info btn-sm ml-3" onclick="refreshLogs()">Обновить</button>
        <a id="btnCSV" href="{{ url_for('export_csv') }}" class="btn btn-info btn-sm ml-3 btn-export">Экспорт в CSV</a>
        <a id="btnJSON" href="{{ url_for('export_json') }}" class="btn btn-info btn-sm ml-3 btn-export">Экспорт в JSON</a>
    </div>

<!-- Подвал -->
    <footer class="footer mt-auto">
        <div class="container text-center">
            <span class="text-footer">© 2024 Управление доступом в Squid. Все права защищены.</span>
            <span class="text-footer">Версия: {{ version }} | Авторы: Shootka, Lermontov</span>
        </div>
    </footer>
</body>
</html>
