<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/siem.css') }}">
    <title>SIEM Events</title>
</head>

<body>
    <h1>SIEM Events</h1>
    <table>
        <thead>
            <tr>
                <th>Тип события</th>
                <th>Время</th>
                <th>Источник IP</th>
                <th>Пользователь</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.event_type }}</td>
                <td>{{ event.timestamp }}</td>
                <td>{{ event.source_ip }}</td>
                <td>{{ event.username }}</td>
                <td>{{ event.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
