<!-- user.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи с разрешенным доступом</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checkbox.css') }}">
</head>
<body>
    <h1>Пользователи с разрешенным доступом</h1>

    <div id="searchContainer">
        <input type="text" id="searchInput" onkeyup="filterUsers()" placeholder="Поиск по имени пользователя и ip-адресу">
        <button id="searchButton" onclick="filterUsers()">Искать</button>
    </div>

    <!-- New Users Table -->
    <h2>Новые пользователи</h2>
    <table id="new_users" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>IP-адрес</th>
                <th>MAC-адрес</th>
                <th>Имя пользователя</th>
                <th>Отдел</th>
                <th>Номер кабинета</th>
                <th>Доступ</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>

    <!-- Main Users Table -->
    <h2>Пользователи с разрешенным доступом</h2>
<table id="usersTable" class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>IP-адрес</th>
            <th>MAC-адрес</th>
            <th>Имя пользователя</th>
            <th>Отдел</th>
            <th>Номер кабинета</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td data-mac="{{ user[1] }}" contenteditable="true" onblur="saveChanges(this, '{{ user[1] }}', 'username')">{{ user[2] }}</td>
                <td data-mac="{{ user[1] }}" contenteditable="true" onblur="saveChanges(this, '{{ user[1] }}', 'department')">{{ user[3] }}</td>
                <td data-mac="{{ user[1] }}" contenteditable="true" onblur="saveChanges(this, '{{ user[1] }}', 'number_cabinet')">{{ user[4] }}</td>
                <td id="status_{{ user[1] }}" style="background-color: {{ 'green' if user[5] else 'red' }}">
                    {{ "Разрешен" if user[5] is defined and user[5] else "Запрещен" }}
                </td>
            <td>
                <button onclick="toggleAccess('{{ user[1] }}', {{ user[5] }})">
                    {{ "Запретить" if user[5] else "Разрешить" }} доступ
                </button>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <script src="{{ url_for('static', filename='js/name.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
